<div class="contact-comp">
  <div class="contact-sec">
    <div class="contactUs-sec">
      <div class="cont-title">Contact Us</div>
      <div class="cont-body">
        <div class="econt-mail">
          <img claas="email-icon" src="../../../assets/icons/envelope-solid.svg">
          <div class="email-text">
              freeaqua4all&#64;gmail.com
          </div>
        </div>
        <div class="econt-mail">
          <img claas="email-icon" src="../../../assets/icons/phone-solid.svg">
          <div class="email-text">
              +91 9493394547
          </div>
        </div>
        <div class="econt-Whatsapp">
          <img claas="Whatsapp-img" src="../../../assets/images/freeAQWhatsApp.jpg">
          <div class="Whatsapp-text">
            Scan on WhatsApp
        </div>
        </div>
      </div>
    </div>
    <div class="getTouch-sec">
      <div class="getTouch-title">Have any questions? Get in touch with us!</div>
      <div class="getTouch-body">
        <div class="touchBtn" (click)="getInTouch()">
          <img claas="touch-icon" src="../../../assets/icons/envelope-solid.svg">
          <div class="touch-text">
              GET IN TOUCH
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
