<div class="footer-comp">
  <div class="footer-body">
    <div class="about">
      <div class="about-title">ABOUT US</div>
      <div class="about-body">
        We believe that no one should go thirsty. 
        Access to clean drinking water is a fundamental right, and our mission is to ensure that everyone, 
        regardless of their circumstances, has free access to bottled water. In a world where many essentials come with a price, 
        we stand for kindness, sustainability, and community well-being. Every bottle we provide is a step toward a healthier, 
        more compassionate society—because “Thousands have lived without love, not one without water.” - W. H. Auden. 💧💧
      </div>
    </div>
    <div class="social">
      <div class="social-title">FOLLOW US</div>
      <div class="social-body">
        <div class="follow-icons">
          <div class="icon-div facebook" (click)="socialLinkClicked('facebook')"><span class="pi pi-facebook"></span></div>
          <div class="icon-div instagram" (click)="socialLinkClicked('instagram')"><span class="pi pi-instagram"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight-div">
    <div style="font-size: 0.85rem;">Copyright &copy; 2025. All rights reserved. Developed by <span
    class="developerName">Ansar Khan</span>❤️</div>
  </div>
</div>