<div class="adv-comp">
  <div class="advSection">
    <div class="advDetails">
      <div class="advtitle">Elevate your brand to new heights</div>

      <div class="advDetilsItems">
        <div class="img-div">
          <img class="img-connect" src="../../../assets/icons/handshake-solid.svg" alt="Connect">
        </div>
        <h3>Connect</h3>
        <p>Connect your digital presence with physical products. Use QR codes to seamlessly link to websites, exclusive
          deals, and engaging video content, boosting online traffic and user interaction.</p>
      </div>

      <div class="advDetilsItems">
        <div class="img-div">
          <img class="img-transport" src="../../../assets/icons/truck-solid.svg" alt="Transport">
        </div>
        <h3>Distribution for Maximum Reach</h3>
        <p>A distribution strategy that puts your brand – local-focused or nationwide – ensuring your product and
          message reach your target audience effectively.</p>
      </div>

      <div class="advDetilsItems">
        <div class="img-div">
          <img class="img-money" src="../../../assets/icons/money-check-dollar-solid.svg" alt="Money">
        </div>
        <h3>Cost-Effective Advertising</h3>
        <p>Share ad space with non-competitive brands, optimizing advertising spend while maintaining high visibility
          and impact, ideal for budget-conscious marketing strategies.</p>
      </div>
    </div>
    <div class="advImg">
      <div class="advimg-div">
        <img class="advImage" src="../../../assets/images/advimg.jpg">
      </div>
    </div>
    <div class="advGet">
      <div class="getTouch-sec">
        <div class="getTouch-title">The new way to advertise your brand</div>
        <div class="getTouch-body">
          <div class="touchBtn" (click)="getaQuote()">
            <img claas="touch-icon" src="../../../assets/icons/envelope-solid.svg">
            <div class="touch-text">
              GET A QUOTE
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>