<div class="header-comp">
  <div class="hcontain-wrapper">
    <div class="title">
      <span class="free">free</span>
      <span class="aqua">Aqua</span>
      <span class="for">4</span>
      <span class="all">All</span>
    </div>
    <div class="tabs">
      <div class="home tab" (click)="tabClicked('home')">Home</div>
      <div class="adv tab" (click)="tabClicked('adv')">Advertise</div>
      <div class="faq tab" (click)="tabClicked('faq')">FAQs</div>
      <div class="cont tab" (click)="tabClicked('cont')">Contacts</div>
    </div>
  </div>
  <div class="touch" (click)="getInTouch()">GET IN TOUCH</div>
</div>
 