<div class="home-comp">
    <div class="front-section">
        <div class="front-left">
            <div class="colab">
                The new way to advertise your brand
            </div>
            <button class="colab-btn" (click)="advertiseHere()">Advertise Here</button>
        </div>
        <div class="front-right">
            <img class="front-img" src="../../../assets/images/AquaFrontImg.png" alt="Brands">
        </div>
    </div>
    <div class="icon-section">
        <div class="company-group">
            <div class="company">company1</div>
            <div class="company">company2</div>
            <div class="company">company3</div>
            <div class="company">company4</div>
            <div class="company">company5</div>
            <div class="company">company6</div>
        </div>
        <div class="icon-group">
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveWater" src="../../../assets/icons/hand-holding-droplet-solid.svg" alt="save water">
                </div>
                <div class="icon-title">Save Water</div>
                <div class="icon-subTitle">We source premium drinking Water for you</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveLife" src="../../../assets/icons/shield-heart-solid.svg" alt="save life">
                </div>
                <div class="icon-title">Save Life</div>
                <div class="icon-subTitle">We source Premium Drinking Water for you</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveMoney" src="../../../assets/icons/money-check-dollar-solid.svg" alt="save money">
                </div>
                <div class="icon-title">Save Money</div>
                <div class="icon-subTitle">Our bottled water is 100% free for the Consumer</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveHealth" src="../../../assets/icons/life-insurance.png" alt="save health">
                </div>
                <div class="icon-title">Save Health</div>
                <div class="icon-subTitle">We source Premium Drinking Water for you</div>
            </div>
        </div>
    </div>
    <div class="adv-section">
        <div class="advimg-div">
            <img class="advImage" src="../../../assets/images/advimg.jpg">
        </div>
        <div class="advTxt-div">
            <div class="advTxt-title">Promote with Purpose</div>
            <div class="advTxt-body">
                <div class="punch-line">
                    Achieve powerful visibility and harness the ultimate brand loyalty tool for impactful advertising.
                </div>
                Free Aqua for All is a pioneering advertising platform that leverages free premium mineral water 
                as a unique advertising medium while focusing on philanthropy and sustainability. 
                With every beverage sold, 5 rupees are donated to charity to help combat India's water crisis.
            </div>
        </div>
    </div>
    <div class="getintouch-section">
        <div class="quote-text">
            <div class="quote-title"> Get in Touch with Free Aqua 4 All - Let's Create an Impact Together!</div>
        </div>
        <div class="touchBtn" (click)="getInTouch()">
            <img claas="touch-icon" src="../../../assets/icons/envelope-solid.svg">
            <div class="touch-text">
                GET IN TOUCH
            </div>
        </div>
    </div>
</div>